repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v3.4.0
        hooks:
            -   id: check-ast  # Is it valid Python?
            -   id: debug-statements # no debbuging statements used
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
            -   id: check-case-conflict
            -   id: check-json
            -   id: pretty-format-json
                args: [ "--autofix" ]
            -   id: check-merge-conflict
            -   id: name-tests-test
            -   id: check-docstring-first
            -   id: requirements-txt-fixer
            -   id: detect-private-key
    #            -   id: detect-aws-credentials
    #            -   id: check-executables-have-shebangs



    -   repo: https://github.com/pycqa/isort
        rev: 5.7.0
        hooks:
            -   id: isort
                #                args: [ "--profile", "black" ]
                args: [ "--profile", "black", "--filter-files" ]


    -   repo: https://github.com/psf/black
        rev: 20.8b1
        hooks:
            -   id: black
                language_version: python3


    -   repo: https://github.com/asottile/blacken-docs
        rev: v1.9.2
        hooks:
            -   id: blacken-docs
                additional_dependencies: [ black==20.8b1 ]



    -   repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.4
        hooks:
            -   id: flake8
                exclude: "docs/"
                args: [ '--ignore','W503' ] # line break before binary operator
                additional_dependencies:
                    - flake8-bugbear
                    - flake8-comprehensions
                    - flake8-tidy-imports

    -   repo: https://github.com/mgedmin/check-manifest
        rev: "0.46"
        hooks:
            -   id: check-manifest
                args: [ "--no-build-isolation", "--ignore", "*.png,.travis/*,docs/*,build_n_install.py,publish.py,readthedocs.yml" ]
                additional_dependencies: [ numpy ]

    # TODO sphinx check
    #    -   repo: https://github.com/myint/rstcheck
    #        rev: 'v3.3.1'
    #        hooks:
    #        -   id: rstcheck

    -   repo: https://github.com/asottile/pyupgrade
        rev: v2.10.0
        hooks:
            -   id: pyupgrade

#    # very detailed linting:
#    -   repo: https://github.com/pycqa/pylint
#        rev: pylint-2.6.0
#        hooks:
#            -   id: pylint
