repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.4.0
        hooks:
            -   id: check-ast  # Is it valid Python?
            -   id: debug-statements # no debbuging statements used
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
            -   id: check-case-conflict
            -   id: check-json
            -   id: pretty-format-json
                args: [ "--autofix" ]
            -   id: check-merge-conflict
            -   id: check-docstring-first
            -   id: requirements-txt-fixer
            -   id: detect-private-key

    -   repo: https://github.com/pycqa/isort
        rev: 5.12.0
        hooks:
            -   id: isort
                args: [ "--profile", "black", "--filter-files" ]

    -   repo: https://github.com/psf/black
        rev: 23.3.0
        hooks:
            -   id: black
                language_version: python3
                args:
                    - --line-length=120

    -   repo: https://github.com/asottile/blacken-docs
        rev: 1.13.0
        hooks:
            -   id: blacken-docs

    -   repo: https://github.com/pycqa/flake8
        rev: 6.0.0
        hooks:
            -   id: flake8
                exclude: ^(docs|scripts|tests)/|build.py
                args:
                    - --ignore=E402 # E402 module level import not at top of file
                    - --max-line-length=120

                additional_dependencies:
                    - flake8-bugbear
                    - flake8-comprehensions
                    - flake8-tidy-imports

    # TODO also check docs/. make compatible with sphinx
    -   repo: https://github.com/myint/rstcheck
        rev: 'v6.1.2'
        hooks:
            -   id: rstcheck
                exclude: ^(docs/)

    -   repo: https://github.com/abravalheri/validate-pyproject
        rev: v0.12.2
        hooks:
            -   id: validate-pyproject

    -   repo: https://github.com/asottile/pyupgrade
        rev: v3.3.1
        hooks:
            -   id: pyupgrade

    #  # TODO very detailed linting:
    #  -   repo: https://github.com/pycqa/pylint
    #      rev: v2.13.8
    #      hooks:
    #          -   id: pylint

    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.1.1
        hooks:
            -   id: mypy
                exclude: ^((tests|scripts)/)
    #
    #  - repo: https://github.com/mgedmin/check-manifest
    #    rev: "0.48"
    #    hooks:
    #      - id: check-manifest
    #        args: [ "--no-build-isolation", "--ignore",  "*.png,docs/*,publish.py,readthedocs.yml,poetry.lock" ]
    #        additional_dependencies: [ numpy, poetry==1.1.11 ]

    -   repo: https://github.com/pre-commit/mirrors-clang-format
        rev: v16.0.0
        hooks:
            -   id: clang-format
