repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v5.0.0
        hooks:
            -   id: check-ast  # Is it valid Python?
            -   id: debug-statements # no debbuging statements used
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
            -   id: check-case-conflict
            -   id: check-json
            -   id: pretty-format-json
                args: [ "--autofix" ]
            -   id: check-merge-conflict
            -   id: check-docstring-first
            -   id: requirements-txt-fixer
            -   id: detect-private-key


    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.9.2
      hooks:
          # linter.
          - id: ruff
            args: [ --fix ]
          - id: ruff-format

    -   repo: https://github.com/asottile/blacken-docs
        rev: 1.19.1
        hooks:
            -   id: blacken-docs

    # TODO also check docs/. make compatible with sphinx
    -   repo: https://github.com/myint/rstcheck
        rev: 'v6.2.4'
        hooks:
            -   id: rstcheck
                exclude: ^(docs/)

    -   repo: https://github.com/abravalheri/validate-pyproject
        rev: v0.23
        hooks:
            -   id: validate-pyproject

    -   repo: https://github.com/asottile/pyupgrade
        rev: v3.19.1
        hooks:
            -   id: pyupgrade

    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.14.1
        hooks:
            -   id: mypy
                exclude: ^((tests|scripts)/)

    #  - repo: https://github.com/mgedmin/check-manifest
    #    rev: "0.48"
    #    hooks:
    #      - id: check-manifest
    #        args: [ "--no-build-isolation", "--ignore",  "*.png,docs/*,publish.py,readthedocs.yml,poetry.lock" ]
    #        additional_dependencies: [ numpy, poetry==1.1.11 ]

    -   repo: https://github.com/pre-commit/mirrors-clang-format
        rev: v19.1.7
        hooks:
            -   id: clang-format
