[tool.poetry]
name = "timezonefinder"
version = "6.1.7"
description = "fast python package for finding the timezone of any point on earth (coordinates) offline"
authors = ["jannikmi <github@michelfe.it>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/jannikmi/timezonefinder"
homepage = "https://timezonefinder.michelfe.it/gui"
documentation = "https://timezonefinder.readthedocs.io/en/latest/"
keywords = ["timezone", "coordinates", "latitude", "longitude", "location", "offline", "polygon"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Localization",
]
include = [
    "timezonefinder/*.bin",
    "timezonefinder/*.json",
    "timezonefinder/py.typed",
    "inside_poly_extension/*",
    #    "build.py", # Note: auto included
]
#exclude = ["my_package/excluded.py"]

[tool.poetry.scripts]
timezonefinder = "timezonefinder.command_line:main"

[tool.poetry.dependencies]
python = ">=3.8,<4"
numpy = ">=1.18,<2"
h3 = ">=3.7.4,<4"
cffi = ">=1.15.1,<2"
numba = { version = ">=0.56,<1", optional = true }
# build dependencies. workaround to always have these installed
setuptools = ">=65.5"

[tool.poetry.dev-dependencies]
poetry = "^1"
tox = "*"
pytest = "*"
pre-commit = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
isort = "*"
twine = "*"
rstcheck = "*"
pydantic = "^1"
Sphinx = "^5"
sphinx-rtd-theme = "^1"
invoke = "^1"

[tool.poetry.extras]
numba = ["numba"]

[build-system]
requires = ["poetry-core>=1.0.0", "cffi", "setuptools"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"
generate-setup-file = false

[tool.isort]
profile = "black"
multi_line_output = 3
