name: build

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
# TODO enable
#  test:
#    runs-on: ubuntu-latest
#    strategy:
#      # By default, GitHub will maximize the number of jobs run in parallel
#      # depending on the available runners on GitHub-hosted virtual machines.
#      # max-parallel: 8
#      fail-fast: false
#      matrix:
#        python-version:
#          - "3.7"
#          - "3.8"
#          - "3.9"
#          - "3.10"
#    env:
#      TOXENV: ${{ matrix.tox-env }}
#      TOX_SKIP_MISSING_INTERPRETERS: False
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Run pre-commit hook
#        uses: pre-commit/action@v2.0.3
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Set up Python ${{ matrix.python-version }}
#        uses: actions/setup-python@v2
#        with:
#          python-version: ${{ matrix.python-version }}
#
#      - name: Upgrade pip version
#        run: pip install -U pip
#
#      - name: Install test dependencies
#        run: pip install tox tox-gh-actions poetry
#
#      - name: Run tox
#        run: tox

  deploy:
    runs-on: ubuntu-latest
#    needs: test
    if: endsWith(github.ref, '/master')
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Fetch version
        id: fetch_version
        run: echo "::set-output name=version_nr::$(cat VERSION)"

      - name: Build a binary wheel and a source tarball
        run: |
          pip install setuptools wheel
          python setup.py sdist bdist_wheel --python-tag py37.py38.py39.py310

      - name: Test PyPI Publishing
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.TEST_PYPI_DEPLOYMENT_API_KEY }}
          repository_url: https://test.pypi.org/legacy/

      - name: Create GitHub Release
        id: create_gh_release
        uses: actions/create-release@v1
        env:
          # use token provided by Actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ steps.fetch_version.outputs.version_nr }}
        with:
          tag_name: ${{env.VERSION}}
          release_name: Release ${{env.VERSION}}
          draft: false
          prerelease: false

      - name: PyPI Publishing
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_DEPLOYMENT_API_KEY }}
